<h1>HTTPBIN.ORG</h1>

<br>

<span>{{ data | json }}</span>

<br><br>

<form [formGroup]="form" (ngSubmit)="processForm()">
  <tr>
    <td>UserID:</td>
    <td>
      <input type="text" placeholder="User ID" size="30" formControlName="userId">
    </td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>
      <input type="text" placeholder="Name" size="30" formControlName="name">
    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
      <input type="email" placeholder="Email" size="30" formControlName="email">
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button type="button" (click)="doPost()">POST</button>
      <button type="button" (click)="doPostAsForm()">POST AS FORM</button>
      <button type="submit">GET</button>
    </td>
  </tr>
</form>